/* https://stackoverflow.com/a/8539107 */
div.leaflet-panel-layers-group ~ div.leaflet-panel-layers-group {
    border-top: 1px black solid;
}

div.todo-layers-header {
    border-bottom: 3px black solid;
    font-size: 16px;
}

span.leaflet-panel-layers-title {
    font-size: 16px;
    font-weight: bold;
}

label.leaflet-panel-layers-title {
    font-size: 16px;
}

.leaflet-panel-layers-icon img {
    width: 24px;
    height: 24px;
}

img.popup-title-icon {
    width: 32px;
    height: 32px;
}

span.popup-title {
    font-size: 130%;
    font-weight: bold;
}

tr.popup-table-row {
}
th.popup-table-row-header {
    font-weight: bold;
}
td.popup-table-row-contents {
}

/* planned ongoing completed resolution official certain dubious unknown */
img.marker-status-planned {
    filter: grayscale(100%);
    opacity: 0.5;
}
img.marker-status-resolution {
    opacity: 0.6;
}
img.marker-status-dubious {
    filter: grayscale(100%);
}
