div.todo-layers-header {
    font-weight: bold;
    text-align: center;
}

label.leaflet-panel-layers-grouplabel {
    display: block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.todo-layers-checkall {
    float: right;
}

.leaflet-panel-layers {
	background: rgba(255,255,255,0.8);
}
:nth-child(1 of .leaflet-panel-layers-group) {
	background: rgba(255,200,200,0.6);
}
:nth-child(2 of .leaflet-panel-layers-group) {
	background: rgba(255,200,255,0.6);
}
:nth-child(3 of .leaflet-panel-layers-group) {
	background: rgba(200,255,200,0.6);
}
:nth-child(4 of .leaflet-panel-layers-group) {
	background: rgba(200,255,255,0.6);
}
:nth-child(5 of .leaflet-panel-layers-group) {
	background: rgba(200,200,200,0.6);
}

span.leaflet-panel-layers-title {
    font-size: 16px;
    font-weight: bold;
}

label.leaflet-panel-layers-title {
    font-size: 16px;
}

.leaflet-panel-layers-icon {
	line-height: 24px;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    margin-right: 6px;
}
.leaflet-panel-layers-icon img {
    width: 24px;
    height: 24px;
}

img.popup-title-icon {
    width: 32px;
    height: 32px;
}

span.popup-title {
    font-size: 130%;
    font-weight: bold;
}

tr.popup-table-row {
}
th.popup-table-row-header {
    font-weight: bold;
}
td.popup-table-row-contents {
}

/* planned ongoing completed resolution official certain dubious unknown */
img.marker-status-planned {
    filter: grayscale(100%);
    opacity: 0.5;
}
img.marker-status-resolution {
    opacity: 0.6;
}
img.marker-status-dubious {
    filter: grayscale(100%);
}
