span.leaflet-panel-layers-title {
    font-size: 16px;
    font-weight: bold;
}

label.leaflet-panel-layers-title {
    font-size: 16px;
}

.leaflet-panel-layers-icon img {
    width: 24px;
    height: 24px;
}

img.popup-title-icon {
    width: 32px;
    height: 32px;
}

span.popup-title {
    font-size: 130%;
    font-weight: bold;
}

tr.popup-table-row {
}
th.popup-table-row-header {
    font-weight: bold;
}
td.popup-table-row-contents {
}
